/* Simple styles for game components */
.dpad-zone {
  position: absolute;
  left: 50%;
  top: 80%;
  transform: translate(-50%, -50%);
  width: 140px;
  height: 140px;
  touch-action: none;
  z-index: 50;
}

.phaser-container canvas {
  display: block;
  width: 100%;
  height: 100%;
}
