.marquee-container {
  overflow: hidden;
  position: relative;
  width: 100%;
  -webkit-mask-image: linear-gradient(to right, transparent, black 30%, black 70%, transparent);
  mask-image: linear-gradient(to right, transparent, black 30%, black 70%, transparent);
}

.marquee-content {
  display: flex;
  white-space: nowrap;
  animation: marquee-scroll 15s linear infinite;
}

.marquee-content span {
  padding-right: 4rem; /* Add space between the repeated text */
}

@keyframes marquee-scroll {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-50%);
  }
}