.parallax-element {
  will-change: transform;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
}

.starry-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: radial-gradient(ellipse at bottom, #1E3A8A 0%, #000000 70%);
  overflow: hidden;
  z-index: -1;
  will-change: opacity;
  transition: opacity 0.5s ease-in;
}

.star {
  position: absolute;
  top: 110vh;
  border-radius: 50%;
  will-change: transform, opacity;
}

.clouds-layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.cloud {
    position: absolute;
    background-color: #BAE1FF;
    border-radius: 50%;
    filter: blur(50px);
    opacity: 0.1;
    will-change: transform;
}